{% extends "base.html" %}
{% load url from future %}
{% block title %}Books{% endblock %}
{% block home %}
{% if authors|length > 0 %}
    <table border="0" cellspacing="1" cellpadding="0" width="100%" class="table table-striped">
        <th style="text-align:left">Author</th>
        {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ author.get_absolute_url }}">{{ author.FIO }}</a>
                </td>
            </tr>    
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
