{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block tinyMCE %} {{ form.media }} {% endblock %}
{% block title %}Books{% endblock %}
{% block home %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" action="./" id ="edit_book" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %} 
        {{ field.errors }}
        {{ field.label_tag}}
        {{ field }}
        {% if field.html_name == 'author' %}<a href="{% url 'author_create' %}">+Edit authors</a>{% endif %} 
    {% endfor %}
    <div class="submit-buttons">
        <span><button type="submit" class="btn btn-primary"><b>{% trans "Continue" %}</button></span>
        <span><a href ="{{ ref_page }}" class="btn"><b>{% trans "Cancel" %}</b></a></span>
        {% if id %}<span><a href="{% url 'delete_book' id %}" class="btn btn-danger" id="confirm-delete">Delete book</a>{% endif %}
    </div>
</form>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Delete book</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete thie book?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    {% if id %} <a href="{% url 'delete_book' id %}" class="btn btn-primary">Delete</a> {% endif %}
  </div>
</div>
{% endblock %}
