{% extends "base.html" %}
{% load url from future %}

{% load books_tags %}

{% block title %}Books{% endblock %}
{% block home %}
{% if books_all|length > 0%}
    <table border="0" cellspacing="1" cellpadding="0" width="100%" class="table table-striped">
        <tr><th>Name book</th><th>Year issue</th><th>Authors</th><th>Action</th></tr>
        {% for book in books_all %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.yearbook }}</td>
                <td>
                 
                {% for author in book.author.all %}
                    <span><a href="{{ author.get_absolute_url }}">{{ author.FIO }} {% if not forloop.last %},{%endif%}</a></span>
                    
                 {% endfor %}               
                </td>
                <td><span><a href="{% url 'edit_book' book.id %}">edit</a></span></td>
            </tr>    
        {% endfor %}
    </table>
{% endif %}
<a href="{% edit_link  request.user %}">Edit user </a>
{% endblock %}
